@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

.imagem{
    height: 800px;
}

.text{
    font-size: 199px;
    color: #836FFF;
    font-family: "Playwrite HU", cursive;
}
